@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
  width: 0.25em;
}
 
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 99999px;
}